@{
    Layout = "~/Views/Shared/Layouts/_ErrorLayout.cshtml";

    var currentLang = CultureInfo.CurrentCulture.TwoLetterISOLanguageName;
}


<div class=" d-flex align-items-center justify-content-center min-vh-100">
    <div class="container text-center">
        <img src="~/images/boy-error.webp"  class="responsive-img" alt="Boy holding error sign" />
        <h1 class="display-1 text-danger">@Model.ErrorText @Model.StatusCode</h1>
        <p class="lead text-muted mb-4">@Model.ErrorMessage</p>
        <a href="@GetHomeUrl()" class="btn btn-success btn-lg">@Model.GoToHomeButtonText</a>
    </div>
</div>



@functions {
    private string GetHomeUrl()
    {
        var lang = CultureInfo.CurrentCulture.TwoLetterISOLanguageName;

        if (lang == "en")
        {
            return "/";
        }

        return $"/{lang}";
    }
}
