@using EPiServer.Web.Routing
@model IPageViewModel<SitePageData>

@{
    var englishUrl = UrlResolver.Current.GetUrl(Model.CurrentPage.ContentLink, "en");
    var swedishUrl = UrlResolver.Current.GetUrl(Model.CurrentPage.ContentLink, "sv");
}


    @if (Model.SiteSettings != null)
    {
        <div class="footer-wrapper">

            <div class="footer-copyright">
                <p>@Model.SiteSettings.FooterText</p>
            </div>
            
            <div class="footer-items">
                @if (Model.SiteSettings.SocialLinks != null)
                {
                    @foreach (var item in Model.SiteSettings.SocialLinks.FilteredItems)
                    {
                        var socialLinkBlock = item.LoadContent() as BookBuddy.Models.Blocks.SocialLinkBlock;
                        if (socialLinkBlock != null)
                        {
                            <a href="@socialLinkBlock.Url" target="_blank" rel="noopener noreferrer">
                                @if (socialLinkBlock.Icon != null)
                                {
                                    <img src="@Url.ContentUrl(socialLinkBlock.Icon)" alt="@socialLinkBlock.PlatformName" class="social-link" />
                                }
                            </a>
                        }
                    }
                }

            </div>

        <a href="@englishUrl">English</a>
        <a href="@swedishUrl">Svenska</a>
        <a href="/cookieinfopage">Cookie settings</a>
        <a href="@Url.Action("ChangeLanguage", "Language", new { contentReference = Model.CurrentPage.ContentLink.ID, language = "en" })">
            English
        </a>
        <a href="@Url.Action("ChangeLanguage", "Language", new { contentReference = Model.CurrentPage.ContentLink.ID, language = "sv" })">
            Svenska
        </a>

        </div>
        
    }
    else
    {
        <p>Footer settings not available</p>
    }


