@using System.Globalization
@model IPageViewModel<SitePageData>
@inject ProfileService ProfileService
@inject AccountService AccountService
@inject UserManager<ApplicationUser> _userManager
@inject AuthTranslationService AuthTranslationService

@{
    var user = await AccountService.GetCurrentFrontEndUser(User);
    var userId = user?.Id;
    var profiles = await ProfileService.GetAllProfilesAsync(userId);
    var selectedProfile = await ProfileService.GetSelectedProfileAsync(userId);
    var mainProfile = await ProfileService.GetMainProfileAsync(userId);
    var currentCulture = CultureInfo.CurrentCulture.TwoLetterISOLanguageName;
}

@if (User != null)
{
    <div class="header-wrapper">
    <div class="header-items">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <i class="fa-solid fa-bars"></i>
                </span>
        </button>

            <div class="dropdown">
                @if (user != null)
                {
                    @if (profiles.Count() > 1 )
                    {
                        <button class="btn btn-light dropdown-toggle d-flex align-items-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="profile-image" src="~/images/avatars/@(selectedProfile?.ProfileImage ?? "default-profile.webp")" loading="lazy" alt="ProfileImage" /> <span class="d-none d-lg-block">@selectedProfile?.ProfileFirstName</span>
                        </button>

                        <ul class="dropdown-menu">

                            @foreach (var profile in profiles)
                            {
                                if (profile.Id != selectedProfile.Id)
                                {
                                    <li>
                                        <form action="@Url.Action("SelectProfile", "Profile")" method="post">
                                            <input type="hidden" name="profileId" value="@profile.Id" />
                                            <button class="btn btn-light d-flex align-items-center dropdown-item" type="submit">
                                                <img class="profile-image" src="~/images/avatars/@(profile.ProfileImage ?? "default-profile.jpg")" alt="ProfileImage" /> <span class="d-none d-lg-block">@profile?.ProfileFirstName</span>
                                            </button>
                                        </form>
                                    </li>
                                }
                            }
                        </ul>
                    }
                    else
                    {
                        <button class="btn btn-light dropdown-toggle d-flex align-items-center" aria-expanded="false">
                            <img class="profile-image" src="~/images/avatars/@(selectedProfile?.ProfileImage ?? "default-profile.webp")" loading="lazy" alt="ProfileImage" /> <span class="d-none d-lg-block">@selectedProfile?.ProfileFirstName</span>
                        </button>
                    }
                    
                }
                else
                {
                    <form action="@Url.Action("SignIn", "Auth", new { lang = currentCulture })">
                        @Html.AntiForgeryToken()
                        <button class="btn btn-light header-signin d-flex align-items-center" type="submit" aria-expanded="false">
                            <img class="profile-image" src="~/images/default-profile.webp" loading="lazy" alt="Company Logo" /> <span class="d-none d-lg-block">
                                @AuthTranslationService.GetTranslation("header", "signin", currentCulture)
                                </span>
                        </button>
                    </form>
                    
                }
            </div>
   
    </div>
</div>
}