@using System.Globalization
@model IPageViewModel<SitePageData>
@inject ProfileService ProfileService

@{
    var user = await _userManager.GetUserAsync(User);
    var userId = user?.Id;
    var profiles = await ProfileService.GetAllProfilesAsync(userId);
    var selectedProfile = await ProfileService.GetSelectedProfileAsync(userId);
    var mainProfile = await ProfileService.GetMainProfileAsync(userId);

    var currentCulture = CultureInfo.CurrentCulture.TwoLetterISOLanguageName; 
}

    @if (Model.SiteSettings != null)
    {
        <div class="navbar-wrapper">
            <div class="nav-logo text-primary">
                @* <img class="nav-logo-img" src="@Url.ContentUrl(Model.SiteSettings.HeaderLogo)" alt="Company Logo" /> *@
                @* <img class="nav-logo-img" src="~/images/Bookbuddy-logo.PNG" alt="Bookbuddy logo"> *@
                <img class="nav-logo-img" src="~/images/BookBuddyLogo2.png" alt="Bookbuddy logo">
                @* <h3>@Model.SiteSettings.HeaderTitle</h3> *@
            </div>

            <div class="nav-items">

                <div class="nav-links">
                    @foreach (var link in Model.SiteSettings.HeaderLinks!)
                     {
                    <a href="@link.Href" target="@link.Target">@link.Text</a>
                     }
                </div>

            @if (User.Identity.IsAuthenticated)
            {
                <form action="@Url.Action("Details", "Profile", new { lang = currentCulture })" method="get">
                    <div>
                        <button class="btn btn-secondary" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" x-bind:width="size" x-bind:height="size" viewBox="0 0 24 24" fill="none" stroke="currentColor" x-bind:stroke-width="stroke" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2">
                                <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"></path>
                                <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                            </svg>
                            Settings
                        </button>
                    </div>
                </form>

                <form asp-action="SignOut" asp-controller="Auth" method="post">
                    <div class="nav-logout">
                        <button class="btn btn-danger" type="submit">
                            Sign out
                        </button>
                    </div>
                </form>
            }
            else
            {

                <form action="@Url.Action("SignUp", "Auth", new { lang = currentCulture })" method="get">
                        <button class="btn btn-warning" type="submit">
                            Sign up
                        </button>
                </form>
            }

            </div>

        </div>
    }
    else
    {
        <p>Site settings not available</p>
    }
