@using System.Globalization
@using EPiServer.Core.Internal
@inject IContentLoader ContentLoader
@model IPageViewModel<SitePageData>

@{
    var navbarLinks = Model.SiteSettings.NavbarLinkList?.Select(item => item).ToList() ?? new List<PageReference>();
    var currentCulture = CultureInfo.CurrentCulture.Name;
    var startPage = ContentLoader.Get<StartPage>(ContentReference.StartPage);
    var startPageUrl = Url.ContentUrl(startPage.ContentLink);
}

    @if (Model.SiteSettings != null)
    {
        <div class="navbar-wrapper">
            <div class="nav-logo text-primary">
                <a href="@startPageUrl">
                    <img class="nav-logo-img" src="@Url.ContentUrl(Model.SiteSettings.NavbarLogo)" alt="@Model.SiteSettings.NavbarLogoAltText">
                </a>
            </div>

            <div class="nav-items">

                <div class="nav-links">
                    <ul class="navbar-list">
                        @foreach (var pageRef in navbarLinks)
                        {
                            if (ContentLoader.TryGet(pageRef, out SitePageData site))
                            {
                                <li class="navbar-item">
                                    <a href="@Url.ContentUrl(site.ContentLink)" target="_self">
                                        @if (site.NavbarIcon != null)
                                        {
                                            <img src="@Url.ContentUrl(site.NavbarIcon)" alt="@(!string.IsNullOrEmpty(site.NavbarIconAltText) ? site.NavbarIconAltText : $"Icon for {site.NavbarTitle} link")" class="nav-icon" />
                                        }
                                        else
                                        {
                                            <img src="~/images/Box_Ikon.svg" alt="Icon for @site.NavbarTitle link" class="nav-icon">
                                        }
                                        <span>@site.NavbarTitle</span>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </div>

            @if (User.Identity.IsAuthenticated)
            {
                <form asp-action="SignOut" asp-controller="Auth" method="post">
                    <div class="nav-logout">
                        <button class="btn btn-warning" type="submit">
                            Sign out
                        </button>
                    </div>
                </form>
            }
            else
            {

                <form action="@Url.Action("SignUp", "Auth", new { lang = currentCulture })" method="get">
                        <button class="btn btn-warning" type="submit">
                            Sign up
                        </button>
                </form>
            }

            </div>

        </div>
    }
    else
    {
        <p>Site settings not available</p>
    }
