@using System.Globalization
@model IPageViewModel<SitePageData>

@{
    var currentCulture = CultureInfo.CurrentCulture.TwoLetterISOLanguageName; 
}

    @if (Model.SiteSettings != null)
    {
        <div class="navbar-wrapper">
            <div class="nav-logo text-primary">
                @* <img class="nav-logo-img" src="@Url.ContentUrl(Model.SiteSettings.HeaderLogo)" alt="Company Logo" /> *@
                @* <img class="nav-logo-img" src="~/images/Bookbuddy-logo.PNG" alt="Bookbuddy logo"> *@
                <img class="nav-logo-img" src="~/images/BookBuddyLogo2.png" alt="Bookbuddy logo">
                @* <h3>@Model.SiteSettings.HeaderTitle</h3> *@
            </div>

            <div class="nav-items">

                <div class="nav-links">
                    @foreach (var link in Model.SiteSettings.HeaderLinks!)
                     {
                    <a href="@link.Href" target="@link.Target">@link.Text</a>
                     }
                </div>

            @if (User.Identity.IsAuthenticated)
            {
                <form asp-action="SignOut" asp-controller="Auth" method="post">
                    <div class="nav-logout">
                        <button class="btn btn-warning" type="submit">
                            Sign out
                        </button>
                    </div>
                </form>
            }
            else
            {

                <form action="@Url.Action("SignUp", "Auth", new { lang = currentCulture })" method="get">
                        <button class="btn btn-warning" type="submit">
                            Sign up
                        </button>
                </form>
            }

            </div>

        </div>
    }
    else
    {
        <p>Site settings not available</p>
    }
