@model BookPageViewModel


<div class="overlay"></div>
<div class="book-card">
@*     <div class="favorite-button">⭐</div> *@
    <div class="book-container">
        <div class="book-cover">
            <img src="@Model.ImageUrl" alt="@Model.ImageAltText" />
        </div>

        <div class="book-info">
            <h1>@Model.Title</h1>
            <div class="author-release">
                <p><strong>Authors:</strong> @Model.Authors</p>
            </div>
        </div>
    </div>

    <div class="book-plot">
        <p><strong>Plot:</strong> @Model.Plot</p>
    </div>

    <div class="button-quiz">
        <a class="quiz-button">Go to Quiz</a>
    </div>
</div>
