@code {
    [Parameter]
    public string? Query { get; set; }

    [Parameter]
    public BookPageModel? result { get; set; }

    protected override void OnParametersSet()
    {
        @* // Logga Query och Result för felsökning
        System.Console.WriteLine($"Query: {Query}");
        System.Console.WriteLine($"Result is null: {Result.Hits == null}");
        if (Result != null)
        {
            System.Console.WriteLine($"Number of hits: {Result.Hits.Count()}");
        } *@
    }
}
@if (result != null)
{
    <a class="bookcard-btn" href="@result.PageUrl">
        <div class="card bookcard">
            <div class="bookcard-content">
                <div class="image-div">
                    <img src="@result.ImageUrl" class="img-fluid" alt="@result.ImageAltText">
                </div>
                <div class="content-div">
                    <div class="card-body d-flex flex-column h-100">
                        <h5 class="card-title">@result.Title</h5>
                        <p class="card-text plot-text">@result.Plot</p>
                        <p class="card-text authors">@result.Authors</p>
                    </div>
                </div>
            </div>
        </div>
    </a>
}
