@inject NavigationManager Navigation

@code {

    [Parameter]
    public HeroSectionModel? HeroSectionModel { get; set; }
  
    private string GetSignUpUrl()
    {
        var lang = HeroSectionModel?.Lang;

        if (string.IsNullOrEmpty(lang))
        {
            lang = "en";
        }

        return $"/{lang}/auth/signup";
    }

    private string GetSignInUrl()
    {
        var lang = HeroSectionModel?.Lang;

        if (string.IsNullOrEmpty(lang))
        {
            lang = "en";
        }

        return $"/{lang}/auth/signin";
    }
}


<div class="hero-section container">
    <h1>@HeroSectionModel!.Title</h1>
    <p>@HeroSectionModel.Description</p>
    <div class="button-group herosection-btn">
        <a href="@GetSignUpUrl()" class="btn btn-primary">@HeroSectionModel.ButtonSignUp</a>
        <a href="@GetSignInUrl()" class="btn btn-secondary">@HeroSectionModel.ButtonSignIn</a>
    </div>
</div>

