@using System.Globalization
@model SignInViewModel

@{
    Layout = "~/Views/Shared/Layouts/AuthLayout.cshtml";
}


<section class="auth-right">
    <div class="login-card">
        <h2 class="text-center">@ViewData["Title"]</h2>
        <p class="text-center mb-4">@ViewData["Description"]</p>

        <form asp-action="SignIn" asp-controller="Auth" method="post">
            @Html.AntiForgeryToken()

            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["ErrorMessage"]
                </div>
            }

            <div class="form-group mb-3">
                <label asp-for="Email">@ViewData["EmailPlaceholder"]</label>
                <input asp-for="Email" type="email" class="form-control" id="email" name="Email" placeholder="@ViewData["EmailPlaceholder"]">
                <span asp-validation-for="Email"></span>
            </div>

            <div class="form-group mb-3 position-relative">
                <label asp-for="Password">@ViewData["PasswordPlaceholder"]</label>
                <input asp-for="Password" type="password" class="form-control" id="password" name="Password" placeholder="@ViewData["PasswordPlaceholder"]">
                <span asp-validation-for="Password"></span>
            </div>

            <div class="form-check mb-4">
                <input asp-for="RememberMe" type="checkbox" class="form-check-input" id="rememberMe">
                <label asp-for="RememberMe" class="form-check-label" for="rememberMe">@ViewData["RememberMeLabel"]</label>
                <span asp-validation-for="RememberMe"></span>
            </div>

            <button type="submit" class="btn btn-success w-100 mb-3">@ViewData["LoginButton"]</button>
            
        </form>
    </div>
</section>
