@using System.Globalization

@model UserProfileViewModel
@inject ProfileService ProfileService
@inject UserManager<ApplicationUser> _userManager

@{
    Layout = "~/Views/Shared/Layouts/AccountLayout.cshtml";
    ViewData["Title"] = ViewData["Title"];
    ViewData["Description"] = ViewData["Description"];

    var user = await _userManager.GetUserAsync(User);
    var userId = user?.Id;
    var profiles = await ProfileService.GetAllProfilesAsync(userId);
    var selectedProfile = await ProfileService.GetSelectedProfileAsync(userId);
    var mainProfile = await ProfileService.GetMainProfileAsync(userId);

    var currentCulture = CultureInfo.CurrentCulture.TwoLetterISOLanguageName;
}


<div>
    <div>
        <h3>@ViewData["Title"]</h3>
        <p class="text-center mb-4">@ViewData["Description"]</p>
    </div>


    <form method="post" action="@Url.Action("Details", "Profile", new { lang = currentCulture })">
        <div>
            @ViewData["StatusMessage"]
        </div>
        <div class="form-group">
            <label asp-for="Firstname">First Name</label>
            <input asp-for="Firstname" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Lastname">Last Name</label>
            <input asp-for="Lastname" class="form-control" />
        </div>

        <div class="form-group">
            <label>Email</label>
            <input asp-for="@user.Email" class="form-control" disabled />
        </div>

        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>


</div>


