@model UserProfileViewModel
@inject ProfileService ProfileService

@{
    Layout = "~/Views/Shared/Layouts/AccountLayout.cshtml";
    ViewData["Title"] = ViewData["Title"];
    ViewData["Description"] = ViewData["Description"];

    var user = await _userManager.GetUserAsync(User);
    var userId = user?.Id;
    var profiles = await ProfileService.GetAllProfilesAsync(userId);
    var selectedProfile = await ProfileService.GetSelectedProfileAsync(userId);
    var mainProfile = await ProfileService.GetMainProfileAsync(userId);
}


<div>
    <div>
        <h1>@ViewData["Title"]</h1>
        <p class="text-center mb-4">@ViewData["Description"]</p>
    </div>

    <form method="post" asp-action="UpdateProfile" asp-controller="Profile">
        <h3>Sub Profiles</h3>

        <div class="dropdown">

            <button class="btn btn-light dropdown-toggle d-flex align-items-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="d-none d-lg-block">Choose profile</span>
            </button>

            <ul class="dropdown-menu">
                @foreach (var profile in profiles)
                {
                    <li>
                        <form action="@Url.Action("SelectProfile", "Profile")" method="post">
                            <input type="hidden" name="profileId" value="@profile.Id" />
                            <button type="submit" class="dropdown-item">@profile.ProfileFirstName</button>
                        </form>
                    </li>
                }
            </ul>
        </div>

        <div>
            @ViewData["StatusMessage"]
        </div>
        <div class="form-group mb-3">
            <label asp-for="Firstname">@ViewData["FirstName"]</label>
            <input asp-for="Firstname" placeholder="@ViewData["FirstName"]" />
            <span asp-validation-for="Firstname"></span>
        </div>

        <button type="submit" class="btn btn-success w-100 mb-3">@ViewData["SaveButton"]</button>

    </form>


    <form method="post" asp-action="CreateProfile" asp-controller="Profile">
        @Html.AntiForgeryToken()
        <div>
            @ViewData["StatusMessage"]
        </div>
        <div class="form-group mb-3">
            <label asp-for="Firstname">Name</label>
            <input asp-for="Firstname" placeholder="Enter name" />
            <span asp-validation-for="Firstname"></span>
        </div>

        <button type="submit" class="btn btn-success w-100 mb-3">@ViewData["SaveButton"]</button>
    </form>

</div>