@model ProfileViewModel
@inject ProfileService ProfileService

@{
    Layout = "~/Views/Shared/Layouts/AccountLayout.cshtml";

    var user = await _userManager.GetUserAsync(User);
    var userId = user?.Id;
    var profiles = await ProfileService.GetSubProfilesAsync(userId);
    var selectedSubProfile = await ProfileService.GetSelectedSubProfileAsync(userId);
    var mainProfile = await ProfileService.GetMainProfileAsync(userId);
    var selectedProfile = await ProfileService.GetSelectedProfileAsync(userId);
}


<div>
    <h3 class="text-center account-setting-title">@ViewData["Title"]</h3>
    <p class="text-center mb-4">@ViewData["Description"]</p>

    <form method="post" asp-action="UpdateSubProfile" asp-controller="Profile">
        

        @if (TempData["StatusMessageUpdateSub"] != null)
        {
            <div class="alert alert-success">
                @TempData["StatusMessageUpdateSub"]
            </div>
        }
        else if (TempData["ErrorMessageUpdateSub"] != null)
        {
            <div class="alert alert-danger">
                @TempData["ErrorMessageUpdateSub"]
            </div>
        }

        <div class="form-group mb-3">
            <label asp-for="FirstName">@ViewData["FirstNameUpdate"]</label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName"></span>
        </div>

        <button type="submit" class="btn btn-success w-100 mb-3">@ViewData["SaveButtonUpdate"]</button>

    </form>
</div>

