@model ProfileViewModel
@inject ProfileService ProfileService

@{
    Layout = "~/Views/Shared/Layouts/AccountLayout.cshtml";

    var user = await _userManager.GetUserAsync(User);
    var userId = user?.Id;
    var profiles = await ProfileService.GetSubProfilesAsync(userId);
    var selectedSubProfile = await ProfileService.GetSelectedSubProfileAsync(userId);
}


<div>
    <h3 class="text-center">@ViewData["TitleUpdate"]</h3>
    <p class="text-center mb-4">@ViewData["DescriptionUpdate"]</p>
    <div class="dropdown">

        <button class="btn btn-light dropdown-toggle d-flex align-items-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="d-none d-lg-block">@selectedSubProfile.ProfileFirstName</span>
        </button>

        <ul class="dropdown-menu">
            @foreach (var profile in profiles)
            {
                <li>
                    <form action="@Url.Action("SelectSubProfile", "Profile")" method="post">
                        <input type="hidden" name="profileId" value="@profile.Id" />
                        <button type="submit" class="dropdown-item">@profile.ProfileFirstName</button>
                    </form>
                </li>
            }
        </ul>
    </div>

    <form method="post" asp-action="UpdateProfile" asp-controller="Profile">

        <div>
            @ViewData["StatusMessageUpdate"]
        </div>
        <div class="form-group mb-3">
            <label asp-for="FirstName">@ViewData["FirstNameUpdate"]</label>
            <input asp-for="FirstName" />
            <span asp-validation-for="FirstName"></span>
        </div>

        <button type="submit" class="btn btn-success w-100 mb-3">@ViewData["SaveButtonUpdate"]</button>

    </form>

    <h3 class="text-center">@ViewData["TitleCreate"]</h3>
    <p class="text-center mb-4">@ViewData["DescriptionCreate"]</p>

    <form method="post" asp-action="CreateProfile" asp-controller="Profile">
        @Html.AntiForgeryToken()
        <div>
            @ViewData["StatusMessageCreate"]
        </div>
        <div class="form-group mb-3">
            <label asp-for="FirstName">@ViewData["FirstNameCreate"]</label>
            <input asp-for="FirstName" />
            <span asp-validation-for="FirstName"></span>
        </div>

        <button type="submit" class="btn btn-success w-100 mb-3">@ViewData["SaveButtonCreate"]</button>
    </form>

</div>