@model ProfileViewModel
@inject ProfileService ProfileService

@{
    Layout = "~/Views/Shared/Layouts/AccountLayout.cshtml";

    var user = await _userManager.GetUserAsync(User);
    var userId = user?.Id;
    var profiles = await ProfileService.GetSubProfilesAsync(userId);
    var selectedSubProfile = await ProfileService.GetSelectedSubProfileAsync(userId);
    var mainProfile = await ProfileService.GetMainProfileAsync(userId);
    var selectedProfile = await ProfileService.GetSelectedProfileAsync(userId);
}


<div>
    <h3 class="text-center account-setting-title">@ViewData["Title"]</h3>
    <p class="text-center mb-4">@ViewData["Description"]</p>

    <form method="post" asp-action="CreateProfile" asp-controller="Profile">
        @Html.AntiForgeryToken()
        @if (TempData["StatusMessageCreate"] != null)
        {
            <div class="alert alert-success">
                @TempData["StatusMessageCreate"]
            </div>
        }
        else if (TempData["ErrorMessageCreate"] != null)
        {
            <div class="alert alert-danger">
                @TempData["ErrorMessageCreate"]
            </div>
        }
        <div class="form-group mb-3">
            <label asp-for="FirstName">@ViewData["FirstNameCreate"]</label>
            <input asp-for="FirstName" />
            <span asp-validation-for="FirstName"></span>
        </div>

        <button type="submit" class="btn btn-success w-100 mb-3">@ViewData["SaveButtonCreate"]</button>
    </form>


    <h3 class="text-center account-setting-title">@ViewData["TitleUpdate"]</h3>
    <p class="text-center mb-4">@ViewData["DescriptionUpdate"]</p>

    <div class="update-subprofile">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Select profile
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div>
                    @foreach (var profile in profiles)
                    {
                        <form action="@Url.Action("SelectSubProfile", "Profile")" method="post">
                            <input type="hidden" name="profileId" value="@profile.Id" />
                            <button type="submit" class="dropdown-item">@profile.ProfileFirstName</button>
                        </form>
                    }
                </div>
            </div>
        </div>

        <div>
            @if (selectedSubProfile == null || string.IsNullOrEmpty(selectedSubProfile.ProfileFirstName))
            {
                <p>Ingen vald profil</p>
            }
            else
            {
                <div class="active-profile">
                    <img class="profile-image" src="~/images/avatars/@(selectedSubProfile.ProfileImage)" alt="ProfileImage" />
                    <h5>@selectedSubProfile.ProfileFirstName</h5>
                </div>
            }
        </div>
        
    </div>
    

</div>

<form method="post" asp-action="UpdateProfile" asp-controller="Profile">

    @if (TempData["StatusMessageUpdate"] != null)
    {
        <div class="alert alert-success">
            @TempData["StatusMessageUpdate"]
        </div>
    }
    else if (TempData["ErrorMessageUpdate"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessageUpdate"]
        </div>
    }
    <div class="form-group mb-3">
        <label asp-for="FirstName">@ViewData["FirstNameUpdate"]</label>
        <input asp-for="FirstName" />
        <span asp-validation-for="FirstName"></span>
    </div>

    <button type="submit" class="btn btn-success w-100 mb-3">@ViewData["SaveButtonUpdate"]</button>

</form>

</div>