@using System.Globalization
@model UpdateUserViewModel
@inject ProfileService ProfileService

@{
    Layout = "~/Views/Shared/Layouts/AccountLayout.cshtml";
    ViewData["Description"] = ViewData["Description"];


    var user = await _userManager.GetUserAsync(User);
    var userId = user?.Id;
    var profiles = await ProfileService.GetAllProfilesAsync(userId);
    var selectedProfile = await ProfileService.GetSelectedProfileAsync(userId);
    var mainProfile = await ProfileService.GetMainProfileAsync(userId);
}


<div>

    @if (selectedProfile == mainProfile)
    {
        <div class="text-center">
            <h1>@ViewData["Title"]</h1>
        </div>

        <form method="post" asp-action="UpdateUser" asp-controller="Account">
            @Html.AntiForgeryToken()
            @if (TempData["StatusMessage"] != null)
            {
                <div class="alert alert-success">
                    @TempData["StatusMessage"]
                </div>
            }
            else if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["ErrorMessage"]
                </div>
            }

            
            <div class="form-group mb-3">
                <label asp-for="CurrentPassword">@ViewData["CurrentPasswordPlaceholder"]</label>
                <input asp-for="CurrentPassword" placeholder="@ViewData["CurrentPasswordPlaceholder"]" />
                <span asp-validation-for="CurrentPassword"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="NewPassword">@ViewData["NewPasswordPlaceholder"]</label>
                <input asp-for="NewPassword" placeholder="@ViewData["NewPasswordPlaceholder"]" />
                <span asp-validation-for="NewPassword"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="ConfirmNewPassword">@ViewData["ConfirmNewPasswordPlaceholder"]</label>
                <input asp-for="ConfirmNewPassword" placeholder="@ViewData["ConfirmNewPasswordPlaceholder"]" />
                <span asp-validation-for="ConfirmNewPassword"></span>
            </div>

            <button type="submit" class="btn btn-success w-100 mb-3">@ViewData["UpdateButton"]</button>
        </form>
    }
    else
    {
        <div>
            <h1>@ViewData["AccessTitle"]</h1>
        </div>
        <h2>@ViewData["AccessMessage"]</h2>
    }

</div>