
<div class="card bookcard completed-quiz-card">
    <div class="bookcard-content">
        <div class="image-div">
            <img src="@MyQuiz.ImageUrl" loading="lazy" class="img-fluid" alt="@MyQuiz.ImageAltText">
        </div>
        <div class="content-div">
            <div class="card-body h-100">
                <a href="@MyQuiz.PageUrl" class="btn btn-primary btn-sm">See result</a>
                <h5 class="card-title">@MyQuiz.Title</h5>
                <p class="total-score"><span class="@ProgressColor" >@PercentageScore</span>%</p>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public MyQuizzesModel? MyQuiz { get; set; } = null!;
    public int PercentageScore { get; set; }
    public int TotalQuestions { get; set; }
    public string ProgressColor { get; set; } = "";


    protected override void OnInitialized()
    {
        CountPercentageScore();
        StateHasChanged();
    }

    private void CountPercentageScore()
    {
        PercentageScore = (int)Math.Round((double)MyQuiz.TotalCorrectAnswers / MyQuiz.TotalQuestions * 100);
    }
    private void SetProgressColor()
    {
        if (PercentageScore < 30)
        {
            ProgressColor = "orange";
        }
        else if (PercentageScore > 70)
        {
            ProgressColor = "green";
        }
    }
}